html{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
}

img{
    max-width: 100%;
    display: block;
}

/* Colors palette  */

:root{
    --light: #ffffff;
    --light-grey: #A3A3A3;
    --dark-grey: #282828;
    --dark: black;
    --dark-blue: #141922;
    --green: #ADFF2F;
}

/* utility classes */

.row{
    display: flex;
    flex-wrap: nowrap;
}



/* App divisions */

.app{
    display: flex;
    flex-direction: column;
}

.app__content{
    display: flex;
    flex-grow: 1;
}

.app__toolbar{
    height: 90px;
    background-color: var(--dark-grey);
}

/* debug */


.debug .app__content{
    border: 1px dashed red;
}

.debug .app__toolbar{
    border: 1px dashed blue;
}

.debug .toolbar{
    border: 1px dashed yellow;
    padding: 10px;
}

[class^='toolbar__']{
    border: 1px dashed purple;
    padding: 10px;
}